{:deps
 {lambdaisland/kaocha {:local/root "."}
  lambdaisland/open-source {:git/url "https://github.com/lambdaisland/open-source"
                            :git/sha "8c35f8f791678492323c4b170188f6ed41593185"
                            #_#_:local/root "../open-source"}}
 :tasks
 {test:bb
  {:extra-deps {nubank/matcher-combinators {:mvn/version "3.8.3"}}
   :extra-paths ["test/bb"]
   :requires ([kaocha.runner])
   :task (apply kaocha.runner/-main *command-line-args*)}}}
