{:deps
 {lambdaisland/open-source {:git/url "https://github.com/lambdaisland/open-source"
                            :git/sha "8c35f8f791678492323c4b170188f6ed41593185"
                            #_#_:local/root "../open-source"}}}
