{:deps
 {lambdaisland/open-source {:git/url "https://github.com/lambdaisland/open-source"
                            :git/sha "daeeba40a242ab08c48a3f55fd0d31ea99a25dbe"
                            #_#_:local/root "../open-source"}}}
