{:deps
 {lambdaisland/open-source {:git/url "https://github.com/lambdaisland/open-source"
                            :sha "43ea822056ce84017639841ac082b9007a32d0f4"
                            #_#_:local/root "../open-source"}}}
