{:paths ["src" "resources"]

 :deps
 {org.clojure/clojure          {:mvn/version "1.10.1"}
  org.clojure/spec.alpha       {:mvn/version "0.2.187"}
  org.clojure/tools.cli        {:mvn/version "1.0.194"}
  lambdaisland/tools.namespace {:mvn/version "0.0-237"}
  lambdaisland/deep-diff       {:mvn/version "0.0-47"}
  org.tcrawley/dynapath        {:mvn/version "1.1.0"}
  slingshot                    {:mvn/version "0.12.2"}
  hawk                         {:mvn/version "0.2.11"}
  expound                      {:mvn/version "0.8.5"}
  orchestra                    {:mvn/version "2020.07.12-1"}
  aero                         {:mvn/version "1.1.6"}
  progrock                     {:mvn/version "0.1.2"}
  meta-merge                   {:mvn/version "1.0.0"}}

 :aliases
 {:test
  {:extra-deps {org.clojure/test.check        {:mvn/version "1.1.0"}
                lambdaisland/kaocha-cucumber  {:mvn/version "0.0-53" :exclusions [lambdaisland/kaocha]}
                lambdaisland/kaocha-cloverage {:mvn/version "1.0-75" :exclusions [lambdaisland/kaocha]}
                nubank/matcher-combinators    {:mvn/version "2.1.1"}
                akvo/fs                       {:mvn/version "20180904-152732.6dad3934"}}}

  :dev
  {}}}
