{:paths ["src" "resources"]

 :deps
 {org.clojure/clojure          {:mvn/version "1.11.1"}
  org.clojure/spec.alpha       {:mvn/version "0.3.218"}
  org.clojure/tools.cli        {:mvn/version "1.0.219"}
  lambdaisland/tools.namespace {:mvn/version "0.1.247"}
  lambdaisland/deep-diff2      {:mvn/version "2.9.202"}
  org.tcrawley/dynapath        {:mvn/version "1.1.0"}
  slingshot/slingshot          {:mvn/version "0.12.2"}
  hawk/hawk                    {:mvn/version "0.2.11"}
  com.nextjournal/beholder     {:mvn/version "1.0.2"}
  expound/expound              {:mvn/version "0.9.0"}
  aero/aero                    {:mvn/version "1.1.6"}
  progrock/progrock            {:mvn/version "0.1.2"}
  meta-merge/meta-merge        {:mvn/version "1.0.0"}}

 :aliases
 {:test
  {:extra-paths ["test/shared" "test/unit"]
   :extra-deps  {org.clojure/test.check        {:mvn/version "1.1.1"}
                 lambdaisland/kaocha-cucumber  {:mvn/version "0.11.100" :exclusions [lambdaisland/kaocha]}
                 lambdaisland/kaocha-cloverage {:mvn/version "1.1.89" :exclusions [lambdaisland/kaocha]}
                 nubank/matcher-combinators    {:mvn/version "1.5.2"}
                 akvo/fs                       {:mvn/version "20180904-152732.6dad3934"}
                 orchestra/orchestra           {:mvn/version "2021.01.01-1"}}}

  :feature-docs
  {:extra-deps
   {lambdaisland/kaocha-cucumber {:mvn/version "0.11.100" :exclusions [lambdaisland/kaocha]}
    lambdaisland/open-source     {:git/url "https://github.com/lambdaisland/open-source"
                                  :git/sha "4d6019ed2805f701c0d626732c5a886542e3b83b"
                                  #_#_:local/root "../open-source"}}}

  :dev
  {:extra-paths ["dev"]
   :extra-deps  {djblue/portal {:mvn/version "RELEASE"}}}

  :bb
  {:extra-deps {nubank/matcher-combinators {:mvn/version "3.8.5"}}}

  :pack {:deps {io.github.juxt/pack.alpha {:git/sha "843475881c5b3ba1a2c9f102f6f5f86f3293a574"}}
         :ns-default juxt.pack.cli.api}

  ;; Stuff for building and deploying.
  ;; Refs:
  ;; - https://cljdoc.org/d/com.github.seancorfield/depstar/2.1.303/doc/getting-started/building-a-library-jar
  ;; - https://github.com/seancorfield/depstar
  ;;   - Deprecated.
  ;;   - Should use https://github.com/clojure/tools.build instead.
  ;; - https://github.com/slipset/deps-deploy
  ;; See README-NOMIS-DEPLOY.md for how to build and deploy.
  :jar {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.1.303"}}
        :exec-fn      hf.depstar/jar
        :exec-args    {}}
  :install {:replace-deps {slipset/deps-deploy {:mvn/version "RELEASE"}}
            :exec-fn deps-deploy.deps-deploy/deploy
            :exec-args {:installer :local
                        :artifact "target/the-jar-file.jar"}}
  :deploy {:extra-deps {slipset/deps-deploy {:mvn/version "RELEASE"}}
           :exec-fn    deps-deploy.deps-deploy/deploy
           :exec-args  {:installer :remote
                        ;; :sign-releases? true
                        :artifact "target/the-jar-file.jar"}}}}
