{:paths ["src" "resources"]

 :deps
 {org.clojure/clojure          {:mvn/version "1.10.0"}
  org.clojure/spec.alpha       {:mvn/version "0.2.176"}
  org.clojure/tools.cli        {:mvn/version "0.4.2"}
  lambdaisland/tools.namespace {:mvn/version "0.0-234"}
  lambdaisland/deep-diff       {:mvn/version "0.0-47"}
  org.tcrawley/dynapath        {:mvn/version "1.0.0"}
  slingshot                    {:mvn/version "0.12.2"}
  hawk                         {:mvn/version "0.2.11"}
  expound                      {:mvn/version "0.7.2"}
  orchestra                    {:mvn/version "2019.02.06-1"}
  aero                         {:mvn/version "1.1.3"}
  progrock                     {:mvn/version "0.1.2"}
  meta-merge                   {:mvn/version "1.0.0"}}

 :aliases
 {:test
  {:extra-deps {org.clojure/test.check        {:mvn/version "0.10.0-alpha3"}
                lambdaisland/kaocha-cucumber  {:mvn/version "0.0-46"}
                lambdaisland/kaocha-cloverage {:mvn/version "0.0-32"}
                nubank/matcher-combinators    {:mvn/version "0.9.0"}
                akvo/fs                       {:mvn/version "20180904-152732.6dad3934"}}}

  :dev
  {}}}
