#kaocha/v1
{:plugins [:kaocha.plugin.alpha/info
           :profiling
           :print-invocations
           :hooks
           ;; :notifier
           :kaocha.plugin/version-filter]
;;  :kaocha.testable/skip-add-classpath? false

 :tests [{:id         :unit
          :test-paths ["test/shared"
                       "test/unit"]}
         {:id                  :integration
          :type                :kaocha.type/cucumber
          :test-paths          ["test/shared"
                                "test/features"]
          :cucumber/glue-paths ["test/step_definitions"]}]

 :kaocha.hooks/pre-load [kaocha.assertions/load-assertions]

 :kaocha/bindings {kaocha.stacktrace/*stacktrace-filters* []}

 :reporter kaocha.report/documentation}
