#kaocha
{:tests [{:id                  :a
          :test-paths          ["fixtures/a-tests"]
          :kaocha.filter/focus [foo.bar-test/a-test]}
         {:id                  :b
          :test-paths          ["fixtures/b-tests"]}]}
