{:kaocha/reporter   [kaocha.report/progress]
 :kaocha/color?     true
 :kaocha/fail-fast? false
 :kaocha/plugins    [:kaocha.plugin/randomize]
 :kaocha/tests      [{:kaocha.testable/type      :kaocha.type/suite
                      :kaocha.testable/id        :unit
                      :kaocha.suite/ns-patterns  ["-test$"]
                      :kaocha.suite/source-paths ["src"]
                      :kaocha.suite/test-paths   ["test"]}]}}
