{:kaocha/reporter   [kaocha.report/dots]
 :kaocha/color?     true
 :kaocha/fail-fast? false
 :kaocha/plugins    [:kaocha.plugin/randomize
                     :kaocha.plugin/filter
                     :kaocha.plugin/capture-output]
 :kaocha/tests      [{:kaocha.testable/type      :kaocha.type/suite
                      :kaocha.testable/id        :unit
                      :kaocha.suite/ns-patterns  ["-test$"]
                      :kaocha.suite/source-paths ["src"]
                      :kaocha.suite/test-paths   ["test"]}]
 :kaocha/leaf-types [:kaocha.type/var]}}
